@import "./theme.scss";

html {
  box-sizing: border-box;
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $app-font-family;
  background-color: $background;
  color: $primary-green;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
