.main {
  display: flex;
  justify-content: space-between;
  column-gap: 3.2rem;

  @include screen-md {
    column-gap: 1.5rem;
  }

  @include screen-sm {
    display: block;
  }

  &__8 {
    flex: 8;
  }

  &__4 {
    flex: 4;

    @include screen-sm {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
